<div class="image-section" style='height: 17rem;'>
  <img src=<%= link_to_avatar(user) %> class='card-img-top'>
</div>
<div class="inner-body position-relative">
  <div class="card-body" style='height: 10rem;'>
    <h5 class="card-title"><%= user.name %></h5>
    <p class="card-text"><%= user.address %>></p>
  </div>

  <div class="card-footer-button position-absolute" style='bottom: 1rem; right: 1rem;'>
    <div class="pin position-absolute" style='bottom: 1rem; left: -138px;' data-bs-toggle='tooltip' data-bs-placement='right' data-bs-html='true'
      title="<div class='row' id='tooltip-green'>
                <div class='tooltip-image col-sm-4 d-flex align-items-center'>
                  <img src='<%= link_to_avatar(user) %>' class='tooltip-avatar'>
                </div>
                <div class='tooltip-main col-sm-8'>
                  <div class='tooltip-title ms-1 mt-2'>
                    <span class='text-white'><%= user.name %></span>
                  </div>
                  <hr class='my-1' style='border: solid 1px white;' />
                  <div class='tooltip-team'>
                    <span class='ms-1 fw-light'>Team: </span>
                    <span class='ms-1 fw-lighter fst-italic'>Andromeda</span>
                  </div>
                  <div class='bio'>
                    <div class='sex'>
                      <span class='ms-1 fw-light'>Sex: </span>
                      <span class='ms-1 fw-lighter fst-italic'><%= parsing_sex(user) %></span>
                    </div>
                    <div class='old'>
                      <span class='fw-light'>Year: </span>
                      <span class='me-5 fw-lighter fst-italic'><%= user.age %></span>
                    </div>
                  </div>
                  <div class='tooltip-email'>
                    <span class='ms-1 fw-light'>email: </span>
                    <span class='ms-1 fw-lighter fst-italic w-auto'><%= user.email %></span>
                  </div>
                </div>
              </div>">
    </div>
    <div class="link">
      <button class="btn btn-outline-secondary mt-auto dropdown-toggle noshadow" type="button" id="dropdownActions" data-bs-toggle="dropdown" aria-expanded="false">
        &nbsp;More info
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownActions">
        <li>
          <%= link_to 'Show', user, class: "dropdown-item", data: { bs_toggle: "modal", bs_target: "#showUserModal", remote: true } %>
        </li>
        <li>
          <%= link_to 'Edit', edit_user_path(user), class: "dropdown-item", data: { bs_toggle: 'modal', bs_target: '#editUserModal', remote: true } %>
        </li>
        <li>
          <%= link_to 'Destroy', user, class: "dropdown-item", method: :delete, data: { confirm: 'Are you sure?', remote: true } %>
        </li>
      </ul>
    </div>
  </div>
</div>
