<div class="mx-auto">
  <%= form_with(model: user, local: false, html: { novalidate: true }) do |form| %>
    <div class="modal-body">

      <div class="mb-2">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, required: true, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.text_field :email, required: true, class: 'form-control'%>
      </div>

      <div class="mb-3">
        <%= form.label :address, class: "form-label" %>
        <%= form.text_field :address, required: true, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :contact, class: "form-label" %>
        <%= form.text_field :contact, class: 'form-control' %>
      </div>

    </div>
    <div class="mt-1 modal-footer">
      <%= form.submit class: 'btn btn-success'  %>
      <%= link_to 'Close', users_path, class: 'btn btn-outline-secondary', data: { bs_dismiss: "modal" } %>
    </div>
    <% end %>
</div>
