<div class="container mt-2 mb-5">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class='d-flex justify-content-center pagination-link mt-3 mb-1'>
      <%== render partial: 'pagy/bootstrap_nav', locals: { pagy: @pagy } if @pagy.pages > 1 %>
    </div>

    <div id='table-body' class='infinity-scroll-target mb-5'>
      <%= render 'cards', users: @users %>
    </div>
  </div>
  <div id="loader" class="image-loader show mt-2">
    <%= image_tag ('loading-bars.svg'), style: 'width: 30px; height: 35px'%>
    <p class='text-center text-secondary mt-1' id='timer' style='font-size: 10px;'>
      <span id="seconds"></span>.<span id="milliseconds"></span>
    </p>
  </div>
</div>

<!-- User create modal (title only, body and button in _form) -->
<div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserModalLabel">Add user</h5>
        <button type="button" class="btn-close close-create" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="errors-create-section p-2">
        <%= render 'shared/errors', user: @user %>
      </div>
      <div id="newUserForm">
        <!-- insert by JS body and button form -->
      </div>
    </div>
  </div>
</div>

<!-- User create modal (title only, body and button in _form) -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Edit user</h5>
        <button type="button" class="btn-close close-edit" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="errors-update-section p-2">
        <%= render 'shared/errors', user: @user %>
      </div>
      <div id="editUserForm">
        <!-- insert by JS body and button form -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showUserModal" tabindex="-1" aria-labelledby="showUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showUserModalLabel">User Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="showUserDetails">
      </div>
    </div>
  </div>
</div>
