<div class="container mt-2 mb-5">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class='d-flex justify-content-center pagination-link ms-5 mt-3 mb-1'>
      <%== render partial: 'pagy/bootstrap_nav', locals: { pagy: @pagy } if @pagy.pages > 1 %>
    </div>
    <aside class="col-md-3" style='max-width: 19rem'>
      <div class="card">
      	<article class="filter-group">
      		<header class="card-header filter-header">
      			<a href="#" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="true" class="text-decoration-none">
      				<i class="icon-control fa fa-chevron-down"></i>
      				<h6 class="title">Product type</h6>
      			</a>
      		</header>
      		<div class="filter-content collapse show" id="collapse_1" style="">
      			<div class="card-body">
      				<form class="pb-3">
      				<div class="input-group">
      				  <input type="text" class="form-control" placeholder="Search">
      				  <div class="input-group-append">
      				    <button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
      				  </div>
      				</div>
      				</form>

      				<ul class="list-menu">
      				<li class='list-unstyled'><a href="#" class='text-decoration-none'>People  </a></li>
      				<li class='list-unstyled'><a href="#" class='text-decoration-none'>Watches </a></li>
      				<li class='list-unstyled'><a href="#" class='text-decoration-none'>Cinema  </a></li>
      				<li class='list-unstyled'><a href="#" class='text-decoration-none'>Clothes  </a></li>
      				<li class='list-unstyled'><a href="#" class='text-decoration-none'>Home items </a></li>
      				<li class='list-unstyled'><a href="#" class='text-decoration-none'>Animals</a></li>
      				<li class='list-unstyled'><a href="#" class='text-decoration-none'>People </a></li>
      				</ul>

      			</div> <!-- card-body.// -->
      		</div>
      	</article> <!-- filter-group  .// -->
      	<article class="filter-group">
      		<header class="card-header filter-header">
      			<a href="#" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="true" class="text-decoration-none">
      				<i class="icon-control fa fa-chevron-down"></i>
      				<h6 class="title">Brands </h6>
      			</a>
      		</header>
      		<div class="filter-content collapse show" id="collapse_2" style="">
      			<div class="card-body">
      				<label class="custom-control custom-checkbox">
      				  <input type="checkbox" checked="" class="custom-control-input">
      				  <div class="custom-control-label">Mercedes
      				  	<b class="badge rounded-pill bg-secondary float-right opacity-75">120</b>  </div>
      				</label>
      				<label class="custom-control custom-checkbox">
      				  <input type="checkbox" checked="" class="custom-control-input">
      				  <div class="custom-control-label">Toyota
      				  	<b class="badge rounded-pill bg-secondary float-right opacity-75">15</b>  </div>
      				</label>
      				<label class="custom-control custom-checkbox">
      				  <input type="checkbox" checked="" class="custom-control-input">
      				  <div class="custom-control-label">Mitsubishi
      				  	<b class="badge rounded-pill bg-secondary float-right opacity-75">35</b> </div>
      				</label>
      				<label class="custom-control custom-checkbox">
      				  <input type="checkbox" checked="" class="custom-control-input">
      				  <div class="custom-control-label">Nissan
      				  	<b class="badge rounded-pill bg-secondary float-right opacity-75">89</b> </div>
      				</label>
      				<label class="custom-control custom-checkbox">
      				  <input type="checkbox" class="custom-control-input">
      				  <div class="custom-control-label">Honda
      				  	<b class="badge rounded-pill bg-secondary float-right opacity-75">30</b>  </div>
      				</label>
      	</div> <!-- card-body.// -->
      		</div>
      	</article> <!-- filter-group .// -->
      	<article class="filter-group">
      		<header class="card-header filter-header">
      			<a href="#" data-bs-toggle="collapse" data-bs-target="#collapse_3" aria-expanded="true" class="text-decoration-none">
      				<i class="icon-control fa fa-chevron-down"></i>
      				<h6 class="title">Price range </h6>
      			</a>
      		</header>
      		<div class="filter-content collapse show" id="collapse_3" style="">
      			<div class="card-body">
      				<input type="range" class="custom-range" min="0" max="100" name="">
      				<div class="form-row">
      				<div class="form-group col-md-6">
      				  <label>Min</label>
      				  <input class="form-control" placeholder="$0" type="number">
      				</div>
      				<div class="form-group text-right col-md-6">
      				  <label>Max</label>
      				  <input class="form-control" placeholder="$1,0000" type="number">
      				</div>
      				</div> <!-- form-row.// -->
      				<button class="btn btn-block btn-outline-secondary mt-2">Apply</button>
      			</div><!-- card-body.// -->
      		</div>
      	</article> <!-- filter-group .// -->
      	<article class="filter-group">
      		<header class="card-header filter-header">
      			<a href="#" data-bs-toggle="collapse" data-bs-target="#collapse_4" aria-expanded="true" class="text-decoration-none">
      				<i class="icon-control fa fa-chevron-down"></i>
      				<h6 class="title">Sizes </h6>
      			</a>
      		</header>
      		<div class="filter-content collapse show" id="collapse_4" style="">
      			<div class="card-body">
      			  <label class="checkbox-btn">
      			    <input type="checkbox">
      			    <span class="btn btn-light"> XS </span>
      			  </label>

      			  <label class="checkbox-btn">
      			    <input type="checkbox">
      			    <span class="btn btn-light"> SM </span>
      			  </label>

      			  <label class="checkbox-btn">
      			    <input type="checkbox">
      			    <span class="btn btn-light"> LG </span>
      			  </label>

      			  <label class="checkbox-btn">
      			    <input type="checkbox">
      			    <span class="btn btn-light"> XXL </span>
      			  </label>
      		</div><!-- card-body.// -->
      		</div>
      	</article> <!-- filter-group .// -->
      	<article class="filter-group">
      		<header class="card-header filter-header">
      			<a href="#" data-bs-toggle="collapse" data-bs-target="#collapse_5" aria-expanded="false" class="text-decoration-none">
      				<i class="icon-control fa fa-chevron-down"></i>
      				<h6 class="title">More filter </h6>
      			</a>
      		</header>
      		<div class="filter-content collapse in" id="collapse_5" style="">
      			<div class="card-body">
      				<label class="custom-control custom-radio">
      				  <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
      				  <div class="custom-control-label">Any condition</div>
      				</label>

      				<label class="custom-control custom-radio">
      				  <input type="radio" name="myfilter_radio" class="custom-control-input">
      				  <div class="custom-control-label">Brand new </div>
      				</label>

      				<label class="custom-control custom-radio">
      				  <input type="radio" name="myfilter_radio" class="custom-control-input">
      				  <div class="custom-control-label">Used items</div>
      				</label>

      				<label class="custom-control custom-radio">
      				  <input type="radio" name="myfilter_radio" class="custom-control-input">
      				  <div class="custom-control-label">Very old</div>
      				</label>
      			</div><!-- card-body.// -->
      		</div>
      	</article> <!-- filter-group .// -->
      </div> <!-- card.// -->
    </aside>

    <div class="col-md-9 style='max-width: 56rem'">
      <div id='table-body' class='infinity-scroll-target mb-5'>
        <%= render 'cards', users: @users %>
      </div>
    </div>
  </div>
  <div id="loader" class="image-loader show mt-2">
    <%= image_tag ('loading-bars.svg'), style: 'width: 30px; height: 35px'%>
    <p class='text-center text-secondary mt-1' id='timer' style='font-size: 10px;'>
      <span id="seconds"></span>.<span id="milliseconds"></span>
    </p>
  </div>
</div>

<%= render 'modal_new_user_form', user: @user %>
<%= render 'modal_show_user_details' %>
