<!DOCTYPE html>
<html>
  <head>
    <title>CrudWithAjax</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='d-flex flex-column h-100'>
    <% unless controller_name == 'home' && action_name == 'index' %>
      <%= render 'shared/navbar'%>
    <% end %>
      <main style='min-height: calc(100vh - 112px)'>
        <%= yield %>
      </main>
    <% unless controller_name == 'home' && action_name == 'index' %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
